*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
#app{
    padding:0 2%;
    width: 100%;
    height:100%;
}
 #about, #work{
    padding: 5% 5%;
    height: 100vh;
    overflow:visible;
    
}

hr{
    width: 30vw;
}
img{
    display: block;
    height:50px;
    margin: 0 auto;
}

/*Toggle Switch Dark light mode*/
#toggle{
    position:relative;
   // @extend .text-center;
   // @extend .items-center;
    
    input[type=checkbox]{
        content: "";
        visibility: hidden;
    }
  /* label{
        position:absolute;
        top:0;
       left:0;
    }*/
    label > span.light {
        display: inline-block;
        width: 14px;
        height: 14px;
        border:1px solid #413d41;
        background-color:#e7e7e7;
        border-radius: 100%;
        margin-right: 2%;
    }
    label > span.dark {
        display: inline-block;
        position: absolute;
        width: 14px;
        height: 14px;
        border:1px solid #e7e7e7;
        background-color:#413d41;
        border-radius: 100%;
    }
}

/*Link*/

ul {
    list-style-type: none;
    margin:0;
  }  
  a{
    &.nav-link{
        display:block;
        color:inherit;
        
    }

&.nav-link.right {
    float: right;
    width: 100%;
    text-align: right;
} 
}
.main-nav{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: rotate(-90deg);
    ul{
       list-style-type: none;
        li{
            margin:0 10px;
       
        }  
     }
}
nav.social-media-nav{
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        li{
            padding:0 5%;
            a{
                &:hover{
                    text-decoration: line-through;
                }
            }
        }
    }
}
/*About Me*/
.box{
    margin:0 auto;
    line-height: 50px;
    width: 100%;
    &-button{

        a{
            display:block;
        }
    }
    &:first-child
    {
        text-align: left;
        .box-wrapper
        {
            border-top: 1px solid;
        }
    }
    &:last-child
    {
        text-align: right;
        .box-wrapper
        {
            border-bottom: 1px solid;
            @extend .columnreverse;
        }
        .box-button{
            ul{ margin:0; }
            text-align: left;
        }
    }
}

a{
 &.right{
     float: right;
 }
}
hr{
    width: 30vw;
    float: right;

}
.mobile-only{
    display: block;
}
.desktop-only{
    display: none;
}

@media (min-width:801px)   { 
    
}

@media (min-width:1025px) { 
    .mobile-only{
        display: none;
    }
    .desktop-only{
        display: block;
    }
    .main-nav{
  
        left: 0;
    }
    #toggle{
        
        label > span.light {
            width: 20px;
            height: 20px;
        }
        label > span.dark {
            width: 20px;
            height: 20px;
        }
    }
    .row{
        &.projects {
            margin: 10% 0; 
       }
    }
    #about{
        .column{
            margin: 5% 0; 
        }
    }
    hr{
        width: 50vw;
    }
}