
@import 'typography.scss';

[data-theme='light']{
   
        background-color:#e7e7e7 ;
        color:#413d41;
        
}

[data-theme='dark']{
        background-color: #413d41;
        color:#e7e7e7;
}